{% extends "home.html" %}
{% load static %}

{% block title %}
<title>Specialization</title> 
{% endblock %}

{% block content %}
<div data-anchor="page2" class="pp-scrollable section section-2">
    <div class="scroll-wrap">
      <div class="scrollable-content">
        <div class="vertical-title text-white  d-none d-lg-block"><span>what I do</span></div>
        <div class="vertical-centred">
          <div class="boxed boxed-inner">
            <div class="boxed">
              <div class="container">
                <div class="intro">
                  <h2 class="title mb-5 pb-5"> <span class="text-primary">My</span> specialization</h2>
                  <div class="row-specialization row">
                    <div class="col-specialization col-md-6 col-lg-4">
                      <span class="icon-specialization icon-laptop-phone"></span>
                      <h4 class="text-uppercase">Mobile Design</h4>
                      <p>Working with client and community, we deliver masterplans that create vibrant new places and spaces, attract people, and encourage investment through.</p>
                    </div>
                    <div class="col-specialization col-md-6 col-lg-4">
                      <span class="icon-specialization icon-smartphone-embed"></span>
                      <h4 class="text-uppercase">Coding</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum fuga dicta voluptatum hic aut aspernatur magnam voluptates itaque atque quae laudantium, tempora at.</p>
                    </div>
                    <div class="col-specialization col-md-6 col-lg-4">
                      <span class="icon-specialization icon-diamond2"></span>
                      <h4 class="text-uppercase">Illustration</h4>
                      <p>Working with client and community, we deliver masterplans that create vibrant new places and spaces, attract people, and encourage investment through.</p>
                    </div>
                  </div>
                  <div class="view-all">
                    <a href="#">
                      Download resume
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
